@font-face {
    font-family: 'Bahij';
    src: url('../fonts/ArbFONTS-Bahij_TheSansArabic-Bold.eot'),
        url('../fonts/ArbFONTS-Bahij_TheSansArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BahijTheSansArabic-Bold.svg#BahijTheSansArabic-Bold') format('svg'),
        url('../fonts/BahijTheSansArabic-Bold.ttf') format('truetype'),
        url('../fonts/BahijTheSansArabic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf')
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Bahij';
    position: relative;
}

button:focus {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

button,
button:hover {
    transition: all 0.5s ease-in-out;
}

ul {
    list-style: none;
    padding-right: 0;
    margin-bottom: 0;
}

.dark-bg {
    background: #333333;
}

.dark-bg,
.brown-bg {
    color: #fff;
}

.dark-txt,
a.brown-txt:hover {
    color: #333333;
}

.brown-txt,
a.dark-txt:hover {
    color: #C49728
}

.brown-bg {
    background: #C49728;
}

.gray-txt {
    color: #AAAAAA;
}

/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.7);
    z-index: 99999999;
}

#loader {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 35%;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(45, 131, 180, 1);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(45, 131, 180, 0.5);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(45, 131, 180, 0.25);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* preloader */

/* mob-over */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
}

.mob-collaps {
    position: fixed;
    width: 25px;
    height: 60px;
    z-index: 999;
    color: #C49728;
    left: 20px;
    top: 50px;
    cursor: pointer;
    display: none;
}

.mob-collaps span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #C49728;
    border-radius: 30px;
    margin: 4px 0;
}

.mob-collaps span:first-child {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 27px;
    opacity: 1;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(3) {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:first-child.rotate {
    width: 24px;
    -webkit-transform: rotate(-45deg) rotateY(360deg);
    -ms-transform: rotate(-45deg) rotateY(360deg);
    -moz-transform: rotate(-45deg) rotateY(360deg);
    transform: rotate(-45deg) rotateY(360deg);
    background-color: #C49728;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(2).none {
    left: -100px;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.mob-collaps span:nth-child(3).rotate2 {
    width: 24px;
    -webkit-transform: rotate(45deg) rotateY(360deg);
    -ms-transform: rotate(45deg) rotateY(360deg);
    -moz-transform: rotate(45deg) rotateY(360deg);
    transform: rotate(45deg) rotateY(360deg);
    top: 20px;
    background-color: #C49728;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.nav-open {
    transform: translateX(0) !important;
}

/* end mob-over */

/* header */
header {
    position: absolute;
    z-index: 99;
    width: 100%;
}

header .top-header {
    padding: 5px 0;
}

header .top-header .row {
    align-items: center;
}

header .top-header a {
    color: #fff;
    font-size: 14px;
}

header .top-header .lang-phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

header .top-header .lang-phone li:not(:last-of-type) {
    margin-left: 15px;
}

header .top-header .lang-phone button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
}

header .top-header .lang-phone button span,
header .top-header .lang-phone button img {
    margin-left: 10px;
}

nav ul li>a.active::after {
    width: 100%;
}

header .top-header .lang-phone .dropdown-menu {
    border-top: 5px solid #C49728;
    -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, .16);
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, .16);
    position: relative;
}

header .top-header .lang-phone .dropdown-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #C49728 transparent;
    border-style: solid;
    top: -19px;
    left: 33px;
}

header .top-header .lang-phone .dropdown-menu a {
    color: #000;
}

header .top-header .lang-phone .lang-img {
    width: 30px;
    height: 20px;
}

nav .row {
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

nav .logo img {
    width: 200px;
    height: 50px;
}

nav ul li a {
    padding: 10px;
    color: #333333;
    transition: all 0.5s ease-in-out;
    position: relative;
}

nav ul li a:hover {
    color: #333333;
}

nav ul li>a:hover::after,
nav ul li .dropdown-click>a.default:hover::after {
    width: 100%;
}

.active a {
    position: relative;
}

nav ul li>a::after,
.active a::after,
nav ul li .dropdown-click>a.default::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-color: #C49728;
    width: 0;
    height: 3px;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.dropdown-click {
    position: relative;
}

.dropdown-click .dropdown-content.open {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

.dropdown-click .dropdown-content {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 5px #DDD;
    box-shadow: 0 0 5px #DDD;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-click .dropdown-content .sub-dropdown {
    width: 215px;
    display: block;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown.open {
    right: 112%;
    opacity: 1;
    visibility: visible;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown {
    position: absolute;
    right: 100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    width: 130px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px #DDD;
    box-shadow: 0 0 3px #DDD;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-click .dropdown-content ul li {
    margin: 0;
    transition: all 0.5s ease-in-out;
    padding: 15px;
    position: relative;
    z-index: 1;
    line-height: 8px;
}

.dropdown-click .dropdown-content ul li:not(:last-of-type) {
    border-bottom: 1px solid #AAAAAA;
}

.dropdown-click .dropdown-content ul li:hover {
    background: #C49728;
}

.dropdown-click .dropdown-content ul li:hover a {
    color: #fff;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown ul:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
    top: 20px;
    background-color: #ffffff;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown ul:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
    top: 20px;
    background-color: #ffffff;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
}

.dropdown-click .dropdown-content:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: 50px;
    background-color: #ffffff;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
}

.dropdown-click .dropdown-content .sub-dropdown a {
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}

.dropdown-click .dropdown-content .sub-dropdown a i {
    margin-right: 15px;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown.open {
    right: 112%;
    opacity: 1;
    visibility: visible;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown li {
    padding: 0;
    line-height: 20px;
    transition: all 0.5s ease-in-out;

}

.dropdown-click .dropdown-content .sub-dropdown .dropdown.open li a {
    display: block;
    color: #333333;
    width: max-content;
    padding: 10px;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown.open li:hover a {
    color: #fff;
}

.dropdown-click .dropdown-content .sub-dropdown .dropdown ul li {
    position: relative;
    z-index: 1;
}

/* end header */
.wrapper {
    padding: 34px 0 0;
}

/* banner */
.banner {
    position: relative;

}

.banner img {
    width: 100%;
    height: 100vh;
}

.banner .banner-over {
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    top: 0;
    height: 100%;
}

.banner .banner-over .caption {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    width: 70%;
    transform: translateY(-50%);
}

.banner .banner-over .caption p {
    font-size: 40px;
}

.banner .banner-over .caption a {
    border: 1px solid #fff;
    padding: 10px 15px;
    font-size: 20px;
    width: 200px;
    display: block;
    margin: 15px auto;
}

.banner .banner-over .caption a:hover {
    color: #fff;
    border-color: #333333;
    background: #333333;
}

/* edn banner */
/* about */
.about,
.about-train,
.offers,
.clients {
    padding: 40px 0;
}

.section-title {
    position: relative;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
}

.section-title:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #C49728;
    bottom: 0;
}

.about p {
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.about p.m-b {
    margin-bottom: 30px;
}

.about .mission i {
    font-size: 30px;
    margin-bottom: 20px;
}

.about .mission p {
    text-align: right;
    height: 115px;
    overflow: hidden;
}

/* end about */
/* about-train  */
.about-train {
    background: url('../images/header.png')no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    position: relative;
    color: #fff;
}

.about-train a,
.about-train p {
    color: #fff;
    line-height: 30px;
    position: relative;
}

.about-train a {
    border: 1px solid #C49728;
    padding: 10px 15px;
    font-size: 20px;
    width: 150px;
    margin: 10px auto;
    display: block;
    transition: all 0.5s ease-in-out;
}

.about-train a:hover {
    color: #fff;
    background: #C49728;
}

.about-train .over {
    position: absolute;
    background: rgba(109, 109, 109, .8);
    width: 100%;
    top: 0;
    height: 100%;
}

/* end about-train  */
/* offers */
.offers .offers-item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
}

.offers .offers-item img {
    width: 100%;
    height: 300px;
    transition: all 0.5s ease-in-out;
}

.offers .offers-item:hover img {
    transform: scale(1.4);
}

.offers .offers-item .details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    align-items: center;
    color: #fff;
    background: rgba(196, 151, 40, 0.26);
}

.offers .offers-item .details h6 {
    font-size: 18px;
}

.offers .offers-item:hover .details {
    color: #C49728;
}

.offers .offers-item .details .links {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.offers .offers-item .details .links a {
    width: 140px;
    border-radius: 30px;
    margin: 10px;
}

.offers .offers-item .details .links a:hover {
    color: #fff;
}

/* end offers */
/* clients  */
.clients {
    position: relative;
    overflow: hidden;
    min-height: 561px;
}

.clients .owl-carousel .owl-nav.disabled,
.clients .owl-carousel .owl-dots.disabled {
    display: block;
}

.owl-carousel {
    direction: ltr;
}

.clients .owl-carousel .owl-stage-outer {
    padding: 80px 0 40px;
}

.clients .item {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 85px 10px 20px;
    box-shadow: 0 0px 10px 0px #00000042;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.clients .item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
}

.clients .item h3 {
    color: #C49728;
    font-size: 18px;
}

.clients .item p {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: normal;
}

.clients .owl-item.cloned {
    opacity: 0;
}

.clients .owl-item.cloned.active,
.clients .owl-item.active,
.clients .owl-item.active.center {
    opacity: 1;
}

.clients .owl-item.active {
    left: 65px;
    right: auto;
    z-index: 1;
}

.clients .owl-item.active .item {
    opacity: 0.8;
    transform: scale(0.99);
}

.clients .owl-item.active.center {
    right: auto;
    left: auto;
    z-index: 2;
}

.clients .owl-item.active.center .item {
    opacity: 1;
    transform: scale(1.1);
}

.clients .owl-item.active.center+.owl-item.active {
    right: 65px;
    left: auto;
    z-index: 1;
}

.clients .owl-item.active.center .item+.owl-item.active .item {
    opacity: 0.8;
}

.clients .owl-carousel .owl-nav {
    width: 150px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #ddd;
    border-radius: 30px;
    z-index: 4;
    height: 40px;
    line-height: 40px;
    top: -50px;
    position: relative;
}

.clients .owl-carousel .owl-nav:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 30px;
    background-color: #D4D4D4;
    top: 50%;
    transform: translateY(-50%);
}

.clients .owl-carousel .owl-nav .owl-prev,
.clients .owl-carousel .owl-nav .owl-next {
    display: inline-block;
    position: absolute;
    width: 50%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.clients .owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.clients .owl-carousel .owl-nav .owl-next {
    right: 0;
}

.clients .owl-carousel .owl-nav .owl-prev i,
.clients .owl-carousel .owl-nav .owl-next i {
    color: #9D9D9D;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.clients .owl-carousel .owl-nav .owl-prev:hover i,
.clients .owl-carousel .owl-nav .owl-next:hover i {
    color: #C49728;
}

.clients .owl-dots {
    display: block !important;
    position: relative;
    top: 0;
    text-align: center;
}

.clients .owl-dots .owl-dot {
    width: 6px;
    height: 20px;
    border-radius: 30px;
    background-color: #46454D;
    display: inline-block;
    margin: 0 2px;
    transition: all 0.3s ease-in-out;
}

.clients .owl-dots .owl-dot.active {
    height: 30px;
    background-color: #FAA31B;
}

/* End Clients */
/* footer */
footer {
    padding: 60px 0 40px;
}

footer .footer-widget li {
    margin-bottom: 10px;
    position: relative;
}

footer .footer-widget .custom-ul li {
    width: 49%;
    display: inline-block;
}

.footer-title {
    position: relative;
}

.footer-title,
footer .footer-widget .custom-ul li.footer-title,
footer .footer-widget .custom-ul li.footer-title {
    margin-bottom: 15px;
    padding-right: 20px;
    font-size: 1.5rem;
}

footer .footer-widget .footer-title::after {
    content: '';
    position: absolute;
    right: 0;
    width: 6px;
    height: 100%;
    top: 0;
    background: #C49728;
    border-radius: 6px;
}

footer .footer-widget .custom-ul li.footer-title:nth-of-type(2)::after {
    background: #fff;
}

.important-link {
    display: none;
}

footer .footer-widget a {
    color: #fff;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
}

footer .footer-widget a:hover {
    padding-right: 5px;
    color: #C49728;
}

footer .footer-widget .contacts {
    padding-top: 15px;
}

footer .footer-widget .contacts a {
    font-size: 23px;
}

footer .footer-widget .contacts a:not(:last-of-type) {
    margin-left: 15px;
}

footer .footer-widget .contacts a:hover {
    padding: 0;
}

.footer-bottom {
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin-bottom: 0;
}

.footer-bottom p a {
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.footer-bottom p:hover a {
    color: #333333;
}

.footer-bottom .social li:not(:last-of-type) {
    margin-left: 15px;
}

.footer-bottom .social li a {
    color: #fff;
    transition: all 0.5s ease-in-out;
    font-size: 23px;
}

.footer-bottom .social li a:hover {
    color: #333333;
}

.fixed-footer ul li a.active {
    color: #C49728;
}

.fixed-footer ul li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.fixed-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 9;
}

.fixed-footer ul li a span {
    display: block;
}

.fixed-footer ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

/* end footer */
/* single-page */
.banner.single-page img {
    height: 100px;
    object-fit: cover;
    object-position: bottom;
}

.condation-item p {
    text-align: right;
}

.accordion {
    padding-top: 25px;
}

.accordion .card-header,
.accordion .card {
    border: none;
}

.accordion .card {
    margin-bottom: 15px;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: left;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.about .img-about {
    max-height: 350px;
    margin-bottom: 20px;
    width: 100%;
}

.tainer {
    min-height: 350px;
    width: 300px;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.tainer-img {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 20px;
    transition: all 0.5s ease-in-out;
    margin: auto;
}

.tainer .tainer-img::after {
    content: url('../images/circle-sheap.png');
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
    height: 100%;
}

.tainer img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid #333;
    transition: all 0.5s ease-in-out;
}

.tainer:hover .tainer-img::after {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    transition: all 0.5s ease-in-out;
}

.tainer:hover h5 {
    color: #333333;
    transition: all 0.5s ease-in-out;
}

.tainer h5 {
    transition: all 0.5s ease-in-out;
    margin: 10px 0 0 0;
}

.tainer:hover img {
    -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    transition: all 0.5s ease-in-out;
}

#owl-main {
    direction: ltr;
}

.about-video {
    padding-top: 20px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.about .owl-carousel img {
    height: 350px;
}

.about .owl-carousel {
    margin: 20px 0;
}

.about .owl-carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin: 10px 2px;
}

.about .owl-carousel .owl-dots .owl-dot.active {
    background: #C49728;
    width: 12px;
    height: 12px;
}

.login-form {
    padding-top: 20px;
}

.login-form .form-group {
    border: 1px solid #C49728;
    position: relative;
    padding: 5px;
}

.login-form .form-group:not(:last-of-type) {
    margin-bottom: 40px;
}

.login-form .form-group .form-control {
    border: none
}

.login-form .form-group select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}

.login-form .form-group label {
    position: absolute;
    background: #fff;
    top: -20px;
    padding: 5px 15px;
    right: 10px;
    font-size: 18px;
}

.login-form .form-group i {
    position: absolute;
    top: 50%;
    font-size: 20px;
    left: 15px;
    transform: translateY(-50%);
}

.login-form .form-group .close i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 35px;
    transform: translateY(-50%);
    margin: auto;
}

.upload-img .upload-icon i {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.login-form button {
    margin: 15px auto;
    padding: 5px 20px;
    border-radius: 30px;
    width: 250px;
}

.login-form .form-group .form-control:focus {
    border: none;
    box-shadow: none;
}

/* The container */
.custom-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    right: 0;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    z-index: 999;
}

/* Create a custom checkbox */
.custom-check .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    margin-top: 5px;
    width: 25px;
    background-color: #333;
    border: 2px solid #C49728;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input~.checkmark {
    background-color: #333;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked~.checkmark {
    background-color: #C49728;
}

.border-none {
    border: none !important;
    margin-bottom: 0 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-check span:first-of-type {
    padding-right: 30px;
}

.custom-check a,
.custom-check span,
.custom-check a:hover {
    text-decoration: underline;
    font-size: 15px;
}

/* Show the checkmark when checked */
.custom-check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
    right: 6px;
    top: 0;
    margin: auto;
    text-align: center;
    width: 9px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*datepaicker*/
.ui-datepicker .ui-datepicker-header {
    background: #333;
    color: #c49728;
}

.ui-datepicker-calendar thead {
    background: #eee;
}

.ui-datepicker-calendar tbody {
    background: #f7f7f7;
}

.ui-datepicker td a {
    border: none;
    text-align: center;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    background: #333;
    color: #C49728
}

.ui-datepicker td a {
    border: none !important;
    text-align: center;
}

.ui-datepicker-prev span {
    background-image: url('../images/left-date.png') !important;
    background-position: 0px 0px !important;
}

.ui-datepicker-next span {
    background-image: url('../images/right-date.png') !important;
    background-position: 0px 0px !important;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    height: 100%;
    width: 100%;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background: transparent;
    border: none
}

.packageBlock {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    width: 300px;
    max-width: 100%;
    margin: 0 auto 20px;
}

.packageTitle {
    text-align: center;
    padding: 30px 0;
    border-radius: 0 0 50% 50%;
    color: #fff;
    height: 120px;
    transition: all 0.3s ease-in-out;
}

.packageTitle:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    background-color: #C49728;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0 0 50% 50%;
    z-index: -1;
}

.packageBody h6 {
    padding: 15px 0 5px;
}

.packageBody li {
    padding-right: 20px;
    margin-bottom: 15px;
    position: relative;
}

.packageBody {
    padding: 15px;
}

.packageBody li::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #C49728;
}

.packageButton a.btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -15px;
    border-radius: 30px;
    width: 200px;
}

.packageButton a.btn:focus {
    box-shadow: none;
    border: none
}

.pay-join {
    width: 450px;
    display: block;
    margin: 15px auto;
}

.pay-join+div h5 {
    margin: 30px 0;
    font-size: 24px;
}

.pay-complate {
    width: auto;
    margin: 20px auto;
}

form .tainer input {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    opacity: 0
}

form .tainer:hover .tainer-img img {
    -webkit-filter: unset;
    filter: unset
}

form .tainer:hover h5,
form .tainer h5 {
    color: #C49728
}

form .tainer:hover .tainer-img::after {
    animation: unset;
}

form .tainer input:not(:checked)+.tainer-img img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%)
}

form .tainer input:not(:checked)+.tainer-img+h5 {
    color: #333
}

form .tainer input:not(:checked)+.tainer-img::after {
    filter: grayscale(100%)
}

form .tainer input:checked+.tainer-img::after {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    transition: all 0.5s ease-in-out;
}

.ui-widget.ui-widget-content {
    width: 82.4% !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

.time-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time-check .times {
    margin: 10px;
    position: relative;
    width: 165px;
    text-align: center;
}

.time-check .times span {
    background: #D4D4D4;
    color: #333;
    padding: 10px 25px;
    display: block;
}

.time-check .times input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    z-index: 1;
    right: 0;
    margin: auto;
}

.time-check .times input:checked+span {
    background: #C49728;
    color: #333;
}

.time-check .times input:disabled+span {
    background: #D4D4D4;
    color: #FFf;
}

.time-check .times input.booking:disabled+span {
    background: #333;
    color: #C49728;
}

.ui-state-default {
    text-align: center !important;
    border: none !important;
}

.remove-check,
.time-content {
    display: none;
}

.about {
    overflow: hidden;
}

.btn-site {
    padding: 10px 15px !important;
    border-color: transparent;
    display: flex;
    justify-content: center;
    margin: auto !important;
}

.lang-phone button {
    font-size: 13px;
}

.user-drop a {
    text-align: right;
    padding: 5px;
}

.user-drop a:not(:last-of-type) {
    border-bottom: 1px solid #dadada;
}

.custom-acount img {
    margin: auto;
    height: 200px;
    display: block;
    border-radius: 50%;
    width: 200px;
}

.tainer-img.custom-acount {
    height: auto;
}

.hgozat-item {
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: 20px;
    margin: 15px 0;
    position: relative;
    box-shadow: 1px 1px 10px #d4d3d3;
    padding: 10px;
}

.hgozat-item img {
    border-radius: 50%;
    height: 150px;
    margin-left: 15px;
    width: 150px;
}

.hgozat-item .details p {
    text-align: right;
    margin-bottom: 0;
}

.hgozat-item .details i {
    margin-left: 5px;
}

.edit-hgozat {
    position: absolute;
    top: 15px;
    left: 15px;
}

.edit-hgozat button {
    border: none;
    background: transparent;
}

.edit-hgozat .dropdown-toggle::after {
    display: none;
}

.edit-hgozat .dropdown-menu a {
    text-align: right;
}

.edit-hgozat .dropdown-menu a:not(:last-of-type) {
    border-bottom: 1px solid #dadada;
}

.edit-hgozat .dropdown-menu a:last-of-type {
    color: rgb(114, 8, 8)
}

.skype-call {
    position: absolute !important;
    left: 15px;
    bottom: 15px;
}

.skype-call i {
    font-size: 25px;
}

.hgozat-tabs ul {
    border: 1px solid #dadada;
    flex-wrap: wrap;
    width: 500px;
    border-radius: 30px;
    justify-content: space-between;
    padding: 5px;
    margin: auto;
}

.hgozat-tabs ul li {
    width: 240px;
    text-align: center;
}

.hgozat-tabs ul li:not(:last-of-type) {
    margin-left: 5px;
}

.hgozat-tabs .nav-tabs .nav-link {
    border-radius: 30px;
}

.hgozat-tabs .nav-tabs .nav-item.show .nav-link,
.hgozat-tabs .nav-tabs .nav-link.active,
.hgozat-tabs .nav-tabs .nav-link:focus,
.hgozat-tabs .nav-tabs .nav-link:hover {
    background: #c49728;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #c49728;
}

.contact-item {
    transition: all 0.5s ease-in-out;
    padding-top: 20px;
}

.contact-item .icon {
    width: 65px;
    height: 65px;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    margin: 10px auto;
}

.contact-item .details a {
    border-radius: 30px;
}

.contact-item:hover .icon {
    background: #333333;
    color: #C49728;
    transition: all 0.5s ease-in-out;
}

.contact-item:hover .details a,
.contact-item:hover .details p,
.contact-item:hover .details h5 {
    color: #C49728;
    transition: all 0.5s ease-in-out;
}

.contact-form .form-control {
    font-size: 15px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #dadada;
}

.contact-form input.form-control {
    height: 45px;
}

.contact-form .form-control:focus {
    border-color: #C49728;
    box-shadow: none;
}

.contact-form button {
    width: 280px;
    border-radius: 30px;
}

.contact-form button:focus,
.contact-form button:hover {
    box-shadow: none;
}

.contact-form input[type=number]::-webkit-inner-spin-button,
.contact-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.events a {
    background: #333 !important;
    color: #C49728 !important;
    pointer-events: none !important;
}

.events.ui-state-disabled {
    opacity: 1;
}

.links-page {
    padding: 40px 0;
}

.links-page li {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.links-page li:not(:last-of-type) {
    margin-bottom: 15px;
}

#preloader_6 {
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100%;
    background: #333;
    z-index: 999999;
    animation: preloader_6 5s infinite linear;
    margin: auto;
    top: 0
}

.preloader-contant {
    width: 205px;
    margin: auto;
    height: 70px;
    position: relative;
    top: 50%;
    margin-top: -42px;
    animation: rotat 4s infinite linear
}

#preloader_6 img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    animation: preloader_4 1s infinite ease-in-out
}

@keyframes preloader_4 {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.img-block {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}

.borde-none {
    border: none
}

.img-block .images,
.img-block .images img {
    width: 100%;
    height: 100%;
}

.upload-img {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    border: 1px dashed#dadada;
    border-radius: 10px;
}

.upload-img .upload-icon {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-img .upload-icon i {
    font-size: 40px;
}

.upload-img .upload-icon span {
    font-size: 18px;
}

.upload-img input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    right: 0;
}

.img-block .images button.close {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 1;
    left: 0;
    margin: 0;
    z-index: 99999;
}

.form-group .gallery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* end single-page */
/*media*/
@media(min-width:992px) and (max-width:1199px) {

    nav ul li a {
        padding-left: 5px;
    }
}

@media(max-width:991px) {
    .hgozat-item img {
        width: 90px;
        height: 90px;
    }

    .wrapper {
        padding-bottom: 62px;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    header nav {
        background: rgba(255, 255, 255, .5);
    }

    .login,
    footer,
    .footer-bottom {
        display: none;
    }

    .fixed-footer,
    .mob-collaps,
    .important-link {
        display: block;
    }

    header .top-header .lang-phone {
        justify-content: center;
    }

    .dropdown-click .dropdown-content.open {
        position: relative;
        top: 0;
    }

    header nav ul.site-nav {
        position: fixed;
        top: 0px;
        background-color: #333333;
        width: 260px;
        right: 0px;
        height: 100%;
        padding-top: 40px;
        transform-origin: right;
        transform: translateX(100%);
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;
    }

    header nav ul li {
        display: block;
        line-height: 45px !important;
        margin: 0;
        text-align: right;
        padding-right: 20px;
        font-size: 14px;
    }

    header nav ul li a {
        color: #fff;
    }

    header nav ul li a:hover {
        color: #C49728
    }

    .dropdown-click .dropdown-content ul li a {
        color: #333333;
    }

    .dropdown-click .dropdown-content ul li {
        padding: 5px 10px;
    }

    .dropdown-click .dropdown-content .sub-dropdown .dropdown.open {
        position: relative;
        right: 0;

    }

    .dropdown-click .dropdown-content .sub-dropdown .dropdown ul:after {
        top: -5px;
        right: 50%;
    }
}

@media(max-width:767px) {
    .clients .owl-item.active.center .item {
        transform: scale(1);
    }

    .banner .banner-over .caption p {
        font-size: 30px;
    }
}

@media(max-width:575px) {
    nav .logo img {
        padding-right: 15px;
    }

    .hgozat-tabs ul,
    .hgozat-tabs ul li {
        width: 100%;
    }

}

@media(max-width:430px) {
    .hgozat-item {
        flex-direction: column;
    }

    .hgozat-item .details p {
        text-align: center;
    }

    .skype-call {
        position: relative !important;
        left: unset;
        bottom: unset;
    }
}