body{
    direction: ltr;
    text-align: left;
}
footer .footer-widget .footer-title::after{
    right: unset;
    left: 0;
}
.footer-title, footer .footer-widget .custom-ul li.footer-title, footer .footer-widget .custom-ul li.footer-title{
    padding-right: unset;
    padding-left: 20px;
}
.login-form .form-group label{
    right: unset;
    left: 10px;
}
.login-form .form-group i{
    left: unset;
    right:15px;
}
.condation-item p,
.hgozat-item .details p,
.about .mission p,
.user-drop a{
    text-align: left;
}
.accordion .card-header:after{
    float: right;
}
.skype-call,
.edit-hgozat{
    left:unset;
    right: 15px;
}
.dropdown-menu.show{
    left: unset!important;
    right: 0;
}
header .top-header .lang-phone .dropdown-menu::after{
    left: unset;
    right: 33px;
}
.mob-collaps{
    left: unset;
    right: 20px;
}
.packageBody li{
    padding-right: unset;
    padding-left: 20px;
}
.packageBody li::after{
    right: unset;
    left: 0;
}
ul{
    padding-right: unset;
    padding-left: 0;
}